numawrap*
opsversion
*.h5
*.dat
*.eps
*.pdf
*.png
*.o
*.a
lbm2d_dev_seq
lbm2d_dev_mpi
setup_comput_domain
*.cfg
__pycache__/PostProcess\.cpython-36\.pyc
lbm3d_dev_seq
lbm3d_dev_mpi
*.ipynb
3D_post_process.py
plot.py
mayavi_3D_post_process.py
UDF_Function.cpp

# Exlude eclipse files.
/.cproject
/.project
/.vscode
/build

#Object files.
lbm2d_hilemms_dev_seq
lbm2d_hilemms_dev_mpi

lbm3d_hilemms_dev_seq
lbm3d_hilemms_dev_mpi

lbm2d_hilemms_solid_body_dev_seq
lbm2d_hilemms_solid_body_dev_mpi
__pycache__/

Input_eqns/
Body_force.txt
Dist_eqn_3.txt
Dist_fun_eqn_2.txt
Dist_func_eqn.txt
BGK_translator.md
UDF_Function.cpp
